h1 {
  text-align: center;
  color: white;
  font-family: 'PT Sans', sans-serif; 
}

.Chart {
  background-color: #f2bb5c;
  margin: 0 20% 0 20%;
  height: 70vh;
}

.Chart img {
  height: 100%;
  width: 100%;
}

.buttons {
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100px;
}

select {
  color: white;
  background-color: #2265f5;
  border-radius: 20px;
  font-weight: bold;
  opacity: 60%;
}

select:hover {
  opacity: 100%;
}

.button {
  height: 2.3rem;
  width: 12rem;
  font-size: 110%;
}

h2 {
  color: white;
}

.frame {
  border: 1px solid white;
  background-color: #363535;
  border-radius: 10px;
  margin: 0px 50px 50px 50px;
  text-align: center;
}

.first-row {
  margin-bottom: 10px;
}

.input-form .button {
  margin-left: 10px;
}

.output-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

div > .button
{
  margin-top: 10px;
}

.output-form .first-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.output-form .second-col {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

label {
  text-align: left;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 100%;
}

.copyright {
  text-align: right;
}

